* {
  margin: 0;
}

body {
  background-image: url(../image/backToInstructions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fredoka', sans-serif;
}

.points {
  margin-top: 10vw;
}

.titel {
  font-size: 2vw;
}

.backGround {
  position: fixed;
  height: 18VW;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}

#point,
#level,
.backTo,
.titel {
  position: sticky;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(215, 212, 212);
  width: 83%;
  margin: auto;
  font-family: 'Karantina', system-ui;
  letter-spacing: 2px;
  z-index: 1;
}

#point,
#level {
  font-size: 1vw;
}

.backTo {
  font-size: 1vw;
}

.backToGame {
  font-size: 1.2vw;
  color: rgb(215, 212, 212);
}

@media screen and (max-width: 1010px) {
  body {
    background-image: url(../image/backToInstructions2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Fredoka', sans-serif;
  }

  .titel {
    margin-top: 14vw;
    font-size: 6vw;
    text-align: center;
    color: rgb(215, 212, 212);
  }

  .backGround {
    margin-top: 14vw;
    height: 26vw;
    width: 100%;
  }

  #point,
  h2 {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(215, 212, 212);
    width: 80%;
    margin: auto;
    font-family: 'Karantina', system-ui;
    letter-spacing: 2px;
    z-index: 1;
  }

  .backToGame {
    font-size: 3vw;
    color: rgb(215, 212, 212);
  }

}